{% extends "base.html" %}

{% block content %}
    <h1>{{ _('Register') }}</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=64) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}
        </p>
        <p>{{ form.is_employer() }} {{ form.is_employer.label }}</p>
        <div id="vat_number_field" style="display: none;">
            <p>
                {{ form.vat_number.label }}<br>
                {{ form.vat_number(size=20) }}
            </p>
        </div>
        <p>{{ form.submit() }}</p>
    </form>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var isEmployerCheckbox = document.getElementById('is_employer');
            var vatNumberField = document.getElementById('vat_number_field');

            isEmployerCheckbox.addEventListener('change', function() {
                vatNumberField.style.display = this.checked ? 'block' : 'none';
            });
        });
    </script>
{% endblock %}
